@inject IStringLocalizer<Resources> localizer
@inject IJSRuntime JS
@rendermode InteractiveServer


<div class=@($"navbarDesktop {GetOpaqueClass()}")>
    <a class="nav-link-style" href="">
        <div class="nav-link-text">@localizer["Home"]</div>
    </a>
    <a class="nav-link-style" href="/resume">
        <div class="nav-link-text">@localizer["CV"]</div>
    </a>
    <a class="nav-link-style" href="/contact">
        <div class="nav-link-text">@localizer["Contact"]</div>
    </a>
    <a class="nav-link-style" href="/tictactoe">
        <div class="nav-link-text">@localizer["ForRecruiters"]</div>
    </a>
</div>

<div class="mobileOnly">
    <NavbarMobile  />
</div>



@code {
    private bool isAtTop = true;
    private DotNetObjectReference<NavMenu>? objRef;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);

            await JS.InvokeVoidAsync(
                "scrollWatcher.observe",
                objRef
            );
        }
    }

    [JSInvokable]
    public void OnScrollStateChanged(bool atTop)
    {
        isAtTop = atTop;
        StateHasChanged();
    }
    private string GetOpaqueClass()
    {
        return isAtTop ? "" : "opaque";
    }
    public void Dispose()
    {
        objRef?.Dispose();
    }
}
