.contactContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.messageContainer {
    width: 50%;
}

@media (max-width: 768px) {

    .contactContainer {
        flex-direction: column;
    }
    .messageContainer{
        width: 100%;
    }
}