@page "/"
@layout MainLayout
@inject IStringLocalizer<Resources> localizer

<PageTitle>@localizer["Home"]</PageTitle>

<p>@CultureInfo.CurrentCulture.Name</p>
<p>@CultureInfo.CurrentUICulture.Name</p>
<TitleComponent/>

