.ticContainer {
    height: calc(100vh - 60px);
    max-width:700px;
    margin-top: 80px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px){
    .ticContainer{
        margin-top: 100px;
        width: 100%;
    }
}